<div class="drawer drawer-end" style="position: relative">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- List locations -->
    <div
      class="md:w-1/2 md:mx-auto mx-6 space-y-4 py-8"
      *ngIf="isInstitutionList"
    >
      <div class="flex items-center justify-between py-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 hover:cursor-pointer"
          [routerLink]="'../'"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>

        <h1 class="text-center text-2xl font-bold">
          Select Institution Location
        </h1>
        <div></div>
      </div>
      <div
        class="flex items-center justify-between gap-x-6 border-b-2 p-4 group transition-all duration-300 hover:shadow-md hover:border-transparent"
        (click)="toggleSelected('list')"
      >
        <div class="flex items-center gap-x-4 text-xl">
          <div
            class="rounded-full bg-headerBlue text-white w-10 h-10 flex items-center justify-center text-2xl"
          >
            A
          </div>
          <p>Abia</p>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 transition-all duration-500 group-hover:w-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </div>
    </div>

    <!-- List Institutions -->
    <div
      class="md:w-1/2 md:mx-auto mx-6 space-y-4 py-8"
      *ngIf="isInstitutionSelected"
    >
      <div class="flex items-center justify-between py-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 hover:cursor-pointer"
          (click)="toggleSelected('backHome')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>

        <h1 class="text-center text-2xl font-bold">Select Institution</h1>
        <div></div>
      </div>
      <div
        class="flex items-center justify-between gap-x-6 px-4 py-6 shadow-md group transition-all duration-300 hover:shadow-md"
        (click)="toggleSelected('institution')"
      >
        <div class="flex items-start gap-x-4">
          <img src="https://picsum.photos/100/100" alt="Institution pic" />

          <div class="w-1/2">
            <p class="text-xl font-bold">Institution Name</p>
            <p class="text-slate-400 text-sm">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
              libero.
            </p>
          </div>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 transition-all duration-500 group-hover:w-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </div>
    </div>

    <!-- Institution details -->
    <div class="md:w-1/2 md:mx-auto mx-6 space-y-4 py-8" *ngIf="isDonate">
      <div class="flex items-center justify-between py-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 hover:cursor-pointer"
          (click)="toggleSelected('backList')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>

        <h1 class="text-center text-2xl font-bold">Institution Details</h1>
        <div></div>
      </div>

      <div class="flex flex-col gap-6">
        <img src="https://picsum.photos/1200/500" alt="Institution pic" />
        <p class="font-bold text-xl">Institution Name</p>

        <button class="w-64 text-white bg-orange-400 px-4 py-2 rounded-sm">
          + Add to your donation list
        </button>

        <p>Mosque code: PS 157</p>

        <ng-container *ngFor="let item of iconCards">
          <app-icon-card
            [title]="item.title"
            [description]="item.description"
            [icon]="item.icon"
          ></app-icon-card>
        </ng-container>
      </div>

      <button
        class="w-full bg-orange-400 flex items-center justify-center gap-x-6 text-white py-6"
        (click)="toggleSelected('selected')"
      >
        <img
          src="./assets/imgs/sadaqah.svg"
          alt="Donate icon"
          class="w-10 h-10"
        />
        <p>Donate now</p>
      </button>
    </div>

    <!-- Enter amount -->
    <div class="md:w-1/2 md:mx-auto mx-6 space-y-4 py-8" *ngIf="isPay">
      <div class="flex items-center justify-between py-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 hover:cursor-pointer"
          (click)="toggleSelected('backSelected')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>

        <h1 class="text-center text-2xl font-bold">Step</h1>
        <div></div>
      </div>
      <form>
        <div class="flex items-center gap-2 border-b-2 py-4 mb-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
            />
          </svg>

          <input
            type="text"
            name="amount"
            class="outline-none py-2 w-full"
            placeholder="(KSH) Enter the amount"
          />
        </div>

        <label
          for="my-drawer"
          class="bg-headerBlue text-white py-4 w-full rounded-full hover:cursor-pointer"
        >
          <div
            class="bg-headerBlue text-white py-4 w-full rounded-full text-center"
          >
            Send Sadaqah/Zakat
          </div>
        </label>
      </form>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <p class="text-xl font-bold text-center mb-2">Sending KSH 2500 Using</p>
      <p>1. USSD (Majorly used)</p>
      <li class="mb-6">
        <div
          class="flex items-center justify-between gap-x-6 px-4 py-6 shadow-md group transition-all duration-300 hover:shadow-md"
        >
          <div class="flex items-start gap-x-4">
            <div class="">
              <p class="text-xl font-bold">USSD Offline Payment</p>
              <p class="text-slate-400 text-sm">
                Majority of banks supported. Powered by KenyaPay
              </p>
            </div>
          </div>
        </div>
      </li>
      <p>2. USSD (Majorly used)</p>
      <li>
        <div
          class="flex items-center justify-between gap-x-6 px-4 py-6 shadow-md group transition-all duration-300 hover:shadow-md"
        >
          <div class="flex items-start gap-x-4">
            <div class="">
              <p class="text-xl font-bold">Credit/Debit Card</p>
              <p class="text-slate-400 text-sm">
                Local and international currencies accepted Powered by Paystack
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
