<!-- hero section -->
<div
  [style.background-image]="'url(../../../assets/imgs/Itqan-banner.webp)'"
  class="flex flex-col items-center justify-center p-10 min-h-[500px] md:min-h-[600px] w-screen py-32 overflow-hidden bg-cover"
>
  <p
    class="text-2xl md:text-4xl text-white font-bold w-[720px] text-center mb-12"
  >
    Terms and Conditions
  </p>
</div>

<!-- About section -->
<div class="py-14 px-6 md:py-28 md:w-3/4 mx-auto">
  <h1 class="text-primaryBlue font-bold text-2xl md:text-4xl mb-8 text-center">
    ITQAAN TERMS AND CONDITIONS
  </h1>
  <ul>
    <li class="mb-6">
      <p class="font-bold">
        1. Introduction:
        <span class="font-normal"
          >Welcome to Itqaan, an Islamic fintech app that provides a range of
          financial services and products to its customers. These terms and
          conditions govern your use of the WebApp and our services. By using
          our WebApp, you agree to the following terms and conditions.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        2. Definitions:
        <span class="font-normal"
          >In these terms and conditions, the following terms shall have the
          following meanings:</span
        >
      </p>
      <ul class="list-disc ml-10">
        <li class="mb-6">"WebApp" refers to Itqaan</li>
        <li class="mb-6">
          “Customer” refers to any user of the WebApp who has registered an
          account with us.
        </li>
        <li class="mb-6">
          “Islamic finance” refers to financial transactions that comply with
          Islamic principles.
        </li>
        <li class="mb-6">
          “Services” refers to the financial products and services offered by
          the WebApp.
        </li>
      </ul>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        3. Eligibility:
        <span class="font-normal"
          >To use our WebApp, you must be at least 18 years old and legally able
          to enter into a contract. By using our WebApp, you represent and
          warrant that you meet these eligibility requirements.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        4. Registration:
        <span class="font-normal"
          >To use our WebApp, you must register an account with us. You agree to
          provide accurate and complete information during the registration
          process. You are responsible for maintaining the confidentiality of
          your account information, including your password. If you suspect that
          your account has been compromised, you must notify us
          immediately.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        5. Islamic finance:
        <span class="font-normal"
          >Our WebApp is based on Islamic finance principles. We do not charge
          interest or engage in any transactions that are not compliant with
          Islamic principles. Our services may include the following:</span
        >
      </p>
      <ul class="list-disc ml-10">
        <li class="mb-6">
          <p class="font-bold">
            Investment products:<span class="font-normal">
              Our WebApp may offer investment products that are based on Islamic
              principles, such as sukuk, equities, and funds.</span
            >
          </p>
        </li>
        <li class="mb-6">
          <p class="font-bold">
            Payment services:<span class="font-normal">
              Our WebApp may offer payment services that comply with Islamic
              principles, such as remittances and bill payments.</span
            >
          </p>
        </li>
        <li class="mb-6">
          <p class="font-bold">
            Financing products:
            <span class="font-normal">
              Our WebApp may offer financing products that are based on Islamic
              principles, such as murabaha, musharaka, and ijara.</span
            >
          </p>
        </li>
      </ul>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        6. Use of the app:
        <span class="font-normal">
          You may use our WebApp to access our services in accordance with these
          terms and conditions. You agree not to use our WebApp for any illegal
          or unauthorized purpose. You also agree to comply with all applicable
          laws and regulations.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        7. Fees We may charge fees for certain services:
        <span class="font-normal">
          You will be informed of any fees prior to using the service. You agree
          to pay all fees in a timely manner.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        8. Limitations of liability:
        <span class="font-normal">
          We are not liable for any damages or losses that may result from your
          use of the WebApp or our services. We are also not liable for any
          errors, omissions, or inaccuracies in the information provided through
          the WebApp. You agree to indemnify and hold us harmless from any
          claims, damages, or expenses arising from your use of the WebApp or
          our services.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        9. Termination:
        <span class="font-normal">
          We may terminate your account at any time for any reason. You may also
          terminate your account at any time. Upon termination of your account,
          you agree to immediately cease using the WebApp and our
          services.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        10. Governing law:
        <span class="font-normal">
          These terms and conditions shall be governed by and construed in
          accordance with the laws of the Country the WebApp is being used. Any
          disputes arising from these terms and conditions shall be resolved in
          accordance with the laws of that Country. You agree to submit to the
          jurisdiction of the courts of the Country for any dispute arising from
          these terms and conditions.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        11. Changes to terms and conditions:
        <span class="font-normal">
          We may update these terms and conditions from time to time. By
          continuing to use our WebApp, you agree to the updated terms and
          conditions. We will notify you of any material changes to these terms
          and conditions by email or through the Webapp.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        12. Privacy policy:
        <span class="font-normal">
          We are committed to protecting your privacy. Our privacy policy
          explains how we collect, use, and disclose your personal
          information.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        12.1. Data Collection:
        <span class="font-normal">
          At Itqaan, we collect this data when users voluntarily provide it,
          such as when registering for a newsletter or completing a market
          survey or user registration.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        12.2. Data Privacy:
        <span class="font-normal">
          We take the privacy of our users seriously and assure that we do not
          rent or sell this information to other companies or individuals.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        12.3: Data rights to request and deletion:
        <span class="font-normal">
          We provide users with the right to access their personal data, and
          give the right to request that their data be removed or corrected via
          the contact us page form.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        12.4: Data protection:
        <span class="font-normal">
          We take measures to protect users’ data by storing it securely and
          only retaining it for as long as necessary to fulfill the purposes for
          which it was collected. Additionally, we comply with applicable legal
          requirements.</span
        >
      </p>
    </li>
    <li class="mb-6">
      <p class="font-bold">
        13. Smart Contracts:
        <span class="font-normal">
          That for every products, (Cash waqf, Pension, Halal BnB, Zakaat,
          Sadaqah, Takaful, Al-Nisaa, Atfaal) and any other product that will be
          introduced onward, shall be published with a smart contract, approved
          by the Islamic Shriah board, and also takaful. That you read the smart
          contract for a specific product/service and confirm the terms of the
          smart contract published before making any purchase, sadaqa payment or
          online payment.</span
        >
      </p>
    </li>
  </ul>
</div>
