<!-- hero section -->
<div
  [style.background-image]="
    'url(../../../../../../../assets/imgs/Itqan-banner.webp)'
  "
  class="flex flex-col items-center justify-center p-10 md:min-h-[600px] min-h-[500px] w-screen py-32 mb-10 overflow-hidden"
>
  <p class="text-4xl text-white font-bold w-[720px] text-center mb-12">
    CAS WAQF
  </p>
</div>

<!-- info section -->
<div>
  <ng-container *ngFor="let item of aboutItems">
    <app-info-container
      [title]="item.title"
      [description]="item.description"
      [isService]="true"
    ></app-info-container>
  </ng-container>
</div>
<div>
  <app-info-container [title]="'PAY FOR CASH WAQF'"></app-info-container>
  <div class="flex items-center justify-center gap-32 mt-12">
    <ng-container *ngFor="let service of itqaanServices">
      <app-itqaan-service-card
        [img]="service.img"
        [title]="service.title"
        [route]="service.route"
        [isService]="true"
      ></app-itqaan-service-card>
    </ng-container>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>
