<!-- hero section -->
<div
  [style.background-image]="
    'url(../../../../../../../assets/imgs/cash-waqf-banner.webp)'
  "
  class="flex flex-col items-center justify-center md:min-h-[690px] min-h-[500px] w-screen py-32 mb-10 overflow-hidden bg-cover"
></div>

<!-- info section -->
<div>
  <ng-container *ngFor="let item of aboutItems">
    <app-info-container
      [title]="item.title"
      [description]="item.description"
      [isService]="true"
    ></app-info-container>
  </ng-container>
</div>
<div>
  <app-info-container [title]="'PAY FOR CASH WAQF'"></app-info-container>
  <div class="flex items-center justify-center gap-32 mt-12">
    <ng-container *ngFor="let service of itqaanServices">
      <app-itqaan-service-card
        [img]="service.img"
        [title]="service.title"
        [route]="service.route"
        [isService]="true"
      ></app-itqaan-service-card>
    </ng-container>
  </div>
</div>
