<!-- hero section -->
<div
  [style.background-image]="
    'url(../../../../../../../assets/imgs/transport-banner.webp)'
  "
  class="flex flex-col items-center justify-center p-10 min-h-[500px] md:min-h-[690px] w-screen py-32 overflow-hidden bg-cover"
></div>

<ng-container *ngFor="let item of aboutItems">
  <app-info-container
    [title]="item.title"
    [description]="item.description"
    [isService]="true"
  ></app-info-container>
</ng-container>

<div class="md:py-10 py-5">
  <div class="grid md:grid-cols-4 md:w-4/5 mx-auto place-items-center">
    <ng-container *ngFor="let service of itqaanServices">
      <app-itqaan-service-card
        [img]="service.img"
        [title]="service.title"
      ></app-itqaan-service-card>
    </ng-container>
  </div>
</div>
