<nav
  [ngClass]="{ 'fixed w-screen': scrolled }"
  class="bg-headerBlue h-20 px-6 flex justify-between"
>
  <img
    class="h-12 w-12 self-center"
    src="../../../../assets/imgs/itqaan-logo-footer.png"
    alt="logo"
  />

  <div class="block hover:cursor-pointer self-center lg:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="white"
      class="w-8 h-8"
      [ngClass]="{ hidden: isMenuOpen }"
      (click)="isMenuOpen = !isMenuOpen"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>

    <!-- close menu -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="white"
      class="w-8 h-8"
      [ngClass]="{ hidden: !isMenuOpen }"
      (click)="isMenuOpen = !isMenuOpen"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>

  <ul class="hidden lg:flex text-white justify-around uppercase">
    <li
      [routerLink]="'home'"
      [routerLinkActive]="'border-b-white'"
      class="border-r px-4 hover:cursor-pointer py-4 border-headerBorder border-b-4 flex items-center border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      Home
    </li>
    <li
      [routerLink]="'about'"
      [routerLinkActive]="'border-b-white'"
      class="hover:cursor-pointer border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      About
    </li>
    <li
      [routerLinkActive]="'border-b-white'"
      class="border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      <a class="peer px-5 py-8 hover:cursor-pointer"> Services </a>
      <!-- the menu here -->
      <div
        class="hidden absolute mt-[694px] -ml-4 peer-hover:flex hover:flex w-[250px] flex-col bg-white text-darkText divide-y-2 drop-shadow-lg"
      >
        <a
          *ngFor="let item of services"
          [routerLink]="'services/' + item.route"
          class="px-5 py-3 hover:bg-gray-200 capitalize"
          >{{ item.title }}</a
        >
      </div>
    </li>
    <li
      [routerLinkActive]="'border-b-white'"
      class="border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      <a class="peer px-5 py-8 hover:cursor-pointer">QURAN & HADITH</a>
      <!-- the menu here -->
      <div
        class="hidden absolute mt-48 -ml-4 peer-hover:flex hover:flex w-[250px] flex-col bg-white text-darkText divide-y-2 drop-shadow-lg"
      >
        <a
          *ngFor="let item of quranHadith"
          [routerLink]="'quran/' + item.route"
          class="px-5 py-3 hover:bg-gray-200 capitalize"
          >{{ item.title }}</a
        >
      </div>
    </li>
    <li
      [routerLink]="'terms'"
      [routerLinkActive]="'border-b-white'"
      class="hover:cursor-pointer border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      OUR TERMS
    </li>
    <li
      class="hover:cursor-pointer border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      FAQs
    </li>
    <li
      [routerLink]="'shop'"
      [routerLinkActive]="'border-b-white'"
      class="hover:cursor-pointer border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      SHOP
    </li>
    <li
      [routerLink]="'contact'"
      [routerLinkActive]="'border-b-white'"
      class="hover:cursor-pointer border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      CONTACT
    </li>
    <li
      class="hover:cursor-pointer border-r px-4 py-4 border-headerBorder flex items-center border-b-4 border-b-transparent transition-all duration-300 hover:border-b-white"
    >
      <a class="peer px-5 py-8 hover:cursor-pointer">SIGN-UP</a>
      <!-- the menu here -->
      <div
        class="hidden absolute mt-36 -ml-4 peer-hover:flex hover:flex w-[250px] flex-col bg-white text-darkText divide-y-2 drop-shadow-lg"
      >
        <a class="px-5 py-3 hover:bg-gray-200 capitalize">my account</a>
      </div>
    </li>
    <li class="flex items-center">
      <select
        class="text-darkText px-4 py-2 mb-0 ml-0 block w-full rounded-sm bg-white focus:outline-none"
      >
        <option disabled selected>English</option>
        <option>Swahili</option>
        <option>German</option>
        <option>French</option>
      </select>
    </li>
  </ul>
</nav>

<div class="bg-headerBlue" [ngClass]="{ hidden: !isMenuOpen }">
  <ul
    class="lg:hidden flex flex-col text-white justify-around uppercase text-center divide-y-2"
  >
    <li class="border-r px-4 py-4 border-headerBorder">
      <a [routerLink]="'home'"> Home</a>
    </li>
    <li class="border-r px-4 py-4 border-headerBorder">
      <a [routerLink]="'about'"> About</a>
    </li>
    <li class="border-r px-4 py-4 border-headerBorder">
      <a class="peer hover:cursor-pointer"> Services </a>
      <!-- the menu here -->
      <div
        class="hidden absolute mt-6 -ml-4 peer-hover:flex hover:flex w-[250px] flex-col bg-white text-darkText divide-y-2 drop-shadow-lg"
      >
        <a
          *ngFor="let item of services"
          [routerLink]="'services/' + item.route"
          class="px-5 py-3 hover:bg-gray-200 capitalize"
          >{{ item.title }}</a
        >
      </div>
    </li>
    <li class="border-r px-4 py-4 border-headerBorder">
      <a class="peer hover:cursor-pointer">QURAN & HADITH</a>
      <!-- the menu here -->
      <div
        class="hidden absolute mt-6 -ml-4 peer-hover:flex hover:flex w-[250px] flex-col bg-white text-darkText divide-y-2 drop-shadow-lg"
      >
        <a
          *ngFor="let item of quranHadith"
          class="px-5 py-3 hover:bg-gray-200 capitalize"
          >{{ item }}</a
        >
      </div>
    </li>
    <li class="border-r px-4 py-4 border-headerBorder"><a> OUR TERMS</a></li>
    <li class="border-r px-4 py-4 border-headerBorder"><a> FAQs</a></li>
    <li class="border-r px-4 py-4 border-headerBorder"><a> SHOP</a></li>
    <li class="border-r px-4 py-4 border-headerBorder"><a> CONTACT</a></li>
    <li class="border-r px-4 py-4 border-headerBorder">
      <a class="peer hover:cursor-pointer">SIGN-UP</a>
      <!-- the menu here -->
      <div
        class="hidden absolute mt-6 -ml-4 peer-hover:flex hover:flex w-[250px] flex-col bg-white text-darkText divide-y-2 drop-shadow-lg"
      >
        <a class="px-5 py-3 hover:bg-gray-200 capitalize">my account</a>
      </div>
    </li>
    <li class="flex items-center">
      <select
        class="text-darkText px-4 py-2 mb-0 ml-0 block w-full rounded-sm bg-white focus:outline-none"
      >
        <option disabled selected>English</option>
        <option>Swahili</option>
        <option>German</option>
        <option>French</option>
      </select>
    </li>
  </ul>
</div>
