<div>
  <p>
    Itqaan platform:"Perfecting your spiritual
    <span class="font-bold"
      >journey with precison, excellence and Sharia adherence."</span
    >
  </p>
  <div>
    <img src="../../../assets/imgs/playstore-logo.png" alt="playstore" />
    <img src="../../../assets/imgs/apple-logo.png" alt="apple" />
  </div>
  <img src="../../../assets/imgs/itqaan-Qr.jpg" alt="apple" />
</div>

<div>
  <h1>ABOUT ITQAAN</h1>
  <p>
    Itqaan.world Is an Ajr Islamic fintech app purposed to serve, educate
    ,eradicate poverty, scale awareness of Islamic best practice for the entire
    Ummah. Through a simplified daily digital journey.
  </p>
</div>

<div>
  <h1>ITQAAN SERVICES</h1>
  <div>
    <img src="" alt="cashwaqf" />
    <p>CASH WAQF</p>
  </div>
</div>
